.h3 {
  font-size: 3rem;
  margin-top: 10px;
}

.board {
  display: grid;
  max-width: 470px;
  margin: 25px auto 35px auto;
  border: 1px solid #000000;
  height: 370px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button--restart {
  cursor: pointer;
  display: inline;
  width: 30%;
  height: 60px;
  background-color: #61dafb;
  border: 0;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {
  .board {
    max-width: 255px;
    height: 200px;
  }

  .button--restart {
    font-size: 1.8rem;
  }
}
