@media only screen and (max-width: 480px) {

    .h1{
            font-size: 6rem;
    }

    .board{
         max-width: 255px;
         height: 200px;
     }

    .button--restart{
        font-size: 1.8rem;
    }
    
    .h6{
            text-align: center;
            margin-top: 10px;
    }
    .img--githublogo{
            float: none;
            top: 0;
            display: block;
            margin: 10px auto;
    }
   
}

