* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #4b77be;
  color: #000000;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 62.5%;
}

.row {
  max-width: 930px;
  margin: 0 auto; /*margin: 0 auto;*/
}

p {
  font-size: 56px;
}

.row--center {
  text-align: center;
}

.button--restart {
  cursor: pointer;
  display: inline;
  width: 30%;
  height: 60px;
  background-color: #61dafb;
  border: 0;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.h1 {
  margin: 15px 0 3px 0;
  text-align: center;
  font-size: 7rem;
}

.h2 {
  text-align: center;
  margin-top: 8px;
  font-size: 2.4rem;
}

/*MAIN*/
.h3 {
  font-size: 3rem;
  margin: 5px 25px 5px 30px;
  display: inline-block;
  color: #000000;
  font-size: 3rem;
}

.h4 {
  font-size: 3rem;
  margin-top: 15px;
}

.span--X {
  color: #ed4e6e;
}

.span--O {
  color: #2ecc71;
}

.span--react {
  color: #5ecff5;
}

.img--reactlogo {
  width: 50px;
  height: 50px;
  display: block;
  margin: 2px auto 0 auto;
}

.img--githublogo {
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  top: -40px;
}

.board {
  display: grid;
  max-width: 470px;
  margin: 25px auto 35px auto;
  border: 3px solid black;
  height: 370px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.item {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid pink;
  background-color: #4b77be;
}

.item span {
  font-size: 4rem;
}

.h5 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.h6 {
  font-size: 2.4rem;
}
